# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51NqnT9GLhQKeWqfzRscjQpCuGz0w2COzrSj0GXq5epwj1IL1i5LWde48FxwTBqKu37rqRTI9CQYv2pjjrDIuwoTW00bx0DSQGj
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=we_1O1zzkGLhQKeWqfzrLyRG3Ks

# Update this with your stable site URL only for the production environment.
NEXT_PUBLIC_SITE_URL=https://your-deployment-url.vercel.app
